<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProjectWe.Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ProjectWe.Desktop.Properties.Settings>
            <setting name="ApiURL" serializeAs="String">
                <value>http://localhost:44397/api/</value>
            </setting>
            <setting name="AuthURL" serializeAs="String">
                <value>http://localhost:44398/api/</value>
            </setting>
        </ProjectWe.Desktop.Properties.Settings>
    </userSettings>
</configuration>